html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Play", sans-serif;
  color: #05386B;
  background-color: #5cdb95;
}
header {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#title {
  margin-left: 10px;
  font-weight: 800;
  font-size: 40px;
  margin-top: 0;
  padding-top: 10px;
}
section {
  background-color: #5cdb95;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  height: 79px;
  flex: none;
  text-align: center;
}
#gameBoard {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
.game-cell {
  height: 200px;
  border: none;
  border-radius: 0px;
  border-bottom: 3px solid #05386B;
  border-right: 3px solid #05386B;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: #05386B;
}
.game-cell.no-r {
  border-right: none;
}

.game-cell.no-b {
  border-bottom: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #05386B;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1d5e9e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
.on {
  display: none;
}
.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
